<!DOCTYPE html>
<html lang="en">
<head>
<title>Index Page</title>
</head>
<body>
	<form action="save" method="post">
		<table>
			<tr>
				<td><label for="id">Student ID</label></td>
				<td><input type="text" name="id"></input></td>
			</tr>
			<tr>
				<td><label for="name">Student Name</label></td>
				<td><input type="text" name="name"></input></td>
			</tr>
			<tr>
				<td></td>
				<td><input type="submit" value="Submit"></input></td>
			</tr>
		</table>
	</form>
</body>
</html>
